<h1 class="offset3">Profiles of politicians</h1>
</br>
<ul class="profiles">
<% Profile.all.each do |profile| %>
     <li>
        <%= link_to (gravatar_for profile, 200),profile %>
        <%= link_to profile.name, profile %>
        <p style="display: block"><%= Constituency.find(id=profile.constituency_id).name %></p>
     </li>
 <% end %>
</ul>

