<% if signed_in? %>
    <h1 style="display: inline">Opinion Polls</h1>
    <% profile_data =  profile_for_user(current_user) %>
    <% if profile_data  %>
        <span style="font-size:0.5em;float:right"><%= link_to "Create a poll", profile_path(@politician_profile) ,:class => "btn btn-large btn-primary"  %></span>
    <% end %>
    <hr>
    <div id="opinon_poll_result">
       <% @opinion_feed_items = opinions_for_cons(current_user)  %>
       <%= render 'shared/opinion_feed' %>
     </div>
<% end %>
