<%= link_to user_item do %>
  <li>
    <block>
      <div class="image_display" style="width:70%;display: inline; float: left;">
        hello
        <%= link_to user_item.name, user_item %>
      </div>
    </block>
  </li><% end %>
<li class="divider"></li>