<% if signed_in? %>
<h1 style="display: inline">Problems Reported...</h1>
    <% if !(Constituency.find_by_name(current_user.constituency).nil?) %>
        <% cid = Constituency.find_by_name(current_user.constituency).id %>
        <% @politician_profile = Profile.find_by_constituency_id(cid)%>
        <span style="font-size:0.5em;float:right"><%= link_to "Report a Problem", profile_path(@politician_profile) ,:class => "btn btn-large btn-primary"  %></span>
        <% @problem_feed_items=problems_for_user(current_user)  %>
        <%= render 'shared/problem_feed' %>
    <% else %>
        <br><br>
        <h4>Your constituency representative's profile doesn't exist, we will soon create a profile for the representative</h4>
    <% end %>

<% end %>