<% if signed_in? %>
<section class="post_form" id="post_form">
  <h3>Report a Problem</h3><hr><br>
  <%= render :partial => 'problems/form' %>

</section>

<section class="problems_feed" style="margin-right: 17%">
  <%= render :partial => 'shared/problem_feed' %>
</section>
<% end %>