<% if signed_in? &&  current_user.email == "nationsevoice.acct@gmail.com" %>
    <h1>Editing problem</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @problem %> |
    <%= link_to 'Back', problems_path %>

<% else %>
    <%=  render :file => 'public/404.html', :status => :not_found, :layout => false   %>
<% end %>


