<section style="margin-top: 35px;margin-left: 13%;width:75%;font-size: 1.2em">
<h2>About</h2>
Our mission is to find a best way to get the problems resolved in our constituency.
<br><br>

  At nationsevoice , you can get to know about your politicians/bureaucrats which includes their educational background , manifesto and additional details.
  You can report any problems in your area and get it resolved by the politicians/bureaucrats.
  Have a look at the problems in your area and find out how well they are resolved and leave your comments on the work done.
  Participate in discussion forums to discuss political issues and give your valuable suggestions.
  Participate in the opinion polls conducted by the politicians and make the policies more effective and useful.

  We are revolutionizing on how fast and easily people's problems get resolved.
  <br> <hr>



<strong>Ranjith Kumar Palthi</strong>  <br>

Born and brought up in Andhra Pradesh. After graduating from IIT Kharagpur, he has worked at an MNC for 9 months before joining IIM Ahmedabad. He is currently pursuing his MBA at IIM Ahmedabad. Apart from being a foodaholic, he loves swimming and playing table tennis.

Email id: sairam1183@gmail.com
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>