<section style="margin-top: 35px;margin-left: 13%;width:75%;font-size: 1.2em">

  <h2 style="margin-top: 20px">Contact Us</h2>
  If you are a politician/bureaucrat contact us on adding your profile to the site.  <br>
  If you are a user and find and issues or have some suggestions please contact us on  <br>
  <strong>Email id: sairam1183@gmail.com</strong>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>