<title>OneStopD</title>
<section style="margin-top: 40px">
    <h2 style="text-align: center;font-style:oblique ; text-shadow: 2px 2px 2px #808080 ;font-family:Monospace,'Lucida Console'">Get to know your politician <br>Report problems in your constituency </h2>
    <br>
  <!-- Feedzilla Widget BEGIN -->

</section>

<% if signed_in? %>
    <div class="container">

      <div id="tabs">
        <ul>
          <li class="new"><a href="#tabs-1">Profiles of Politicians</a></li>
          <li><a href="#tabs-2">Problems Reported</a></li>
          <li><a href="#tabs-3">Opinions polls</a></li>

        </ul>
        <div id="tabs-1">
          <%= render :partial => 'profiles/index1' %>
        </div>
        <div id="tabs-2">
          two
        </div>
        <div id="tabs-3">
          three
        </div>

      </div>

    </div>


<% else %>
    <div class="fbfeed" style="margin-left:5%;display: inline; float: left;width:28%;"><script type="text/javascript" src="http://output89.rssinclude.com/output?type=js&amp;id=884674&amp;hash=3cc818d1f0c599dba28aacd24678c644"></script> </div>

    <div class="slide_show" style="width:30%;display: inline; float: left;padding-left: 20px ">
    <ul class="bxslider">
      <li><img src="/assets/home_1.jpg" /></li>
      <li><img src="/assets/home_2.jpg" /></li>
      <li><img src="/assets/home_3.jpg" /></li>

    </ul>
    </div>

    <div class="newsfeed" style="width:20%;display: inline; float: left">
      <!-- Feedzilla Widget BEGIN -->

      <div class="feedzilla-news-widget feedzilla-9480778600554913" style="width:250px; padding-left: 20px; text-align: center; font-size: 11px; border: 0;">
        <script type="text/javascript" src="http://widgets.feedzilla.com/news/iframe/js/widget.js"></script>
        <script type="text/javascript">
            new FEEDZILLA.Widget({
                style: 'slide-top-to-bottom',
                culture_code: 'en_in',
                c: '1059',
                sc: '26268',
                headerBackgroundColor: '#574c3b',
                footerBackgroundColor: '#b8b2a7',
                title: 'Politics',
                caption: 'India',
                order: 'date',
                count: '50',
                w: '380',
                h: '633',
                timestamp: 'true',
                scrollbar: 'false',
                theme: 'ui-lightness',
                className: 'feedzilla-9480778600554913'
            });
        </script><br />

      </div>

      <!-- Feedzilla Widget END -->

    </div>



<% end %>



  </div>
<script>
    $(document).ready(function(){
        $("#tabs").tabs({heightStyle: "content"});
        $('#tabs ul li').click('tabsselect', function (event, ui) {
            var selectedTab = $("#tabs").tabs('option','active');

            if(selectedTab == 0) {
                $('#tabs-1').html('<%= escape_javascript(render(:partial => 'profiles/index1')).html_safe %>')
                $('#tabs-2').html(' ')
                $('#tabs-3').html(' ')
            }
            else if(selectedTab == 1) {
                $('#tabs-2').html('<%= escape_javascript(render(:partial => 'problems/home_problems')).html_safe %>')
                $('#tabs-1').html(' ')
                $('#tabs-3').html(' ')
            }
            else {
                $('#tabs-3').html('<%= escape_javascript(render(:partial => 'opinions/home_opinions')).html_safe %>')
                $('#tabs-1').html(' ')
                $('#tabs-2').html(' ')
            }
        });


    });
</script>
