<title>OneStopD</title>
<section style="margin-top: 40px">

    <h2 style="text-align: center;font-style:oblique ; text-shadow: 2px 2px 2px #808080 ; font-family:Monospace,'Lucida Console'"> One platform for all your problems</h2>
  <h2 style="text-align: center;font-style:oblique ; text-shadow: 2px 2px 2px #808080 ;font-family:Monospace,'Lucida Console'"> Get Your Voice heard</h2>

</section>

<% if signed_in? %>
    <div class="container">

      <div id="tabs">
        <ul>
          <li><a href="#tabs-1">Profiles of Politicians</a></li>
          <li><a href="#tabs-2">Problems Reported</a></li>

        </ul>
        <div id="tabs-1">
          <%= render :partial => 'profiles/index1' %>
        </div>
        <div id="tabs-2">
          two
        </div>

      </div>

    </div>


<% else %>
    <ul class="bxslider">
      <li><img src="/assets/home_1.jpg" /></li>
      <li><img src="/assets/home_2.jpg" /></li>
      <li><img src="/assets/home_3.jpg" /></li>

    </ul>
<% end %>


  </div>
<script>
    $(document).ready(function(){
        $("#tabs").tabs({heightStyle: "content"});
        $('#tabs ul li').click('tabsselect', function (event, ui) {
            var selectedTab = $("#tabs").tabs('option','active');

            if(selectedTab == 0) {
                $('#tabs-1').html('<%= escape_javascript(render(:partial => 'profiles/index1')).html_safe %>')
                $('#tabs-2').html(' ')

            }
            else {
                $('#tabs-2').html('<%= escape_javascript(render(:partial => 'problems/home_problems')).html_safe %>')
                $('#tabs-1').html(' ')
            }
        });


    });




</script>
