.logo {
  float:left;

}
.title {
  float:left;
  width: 20%;

}
.welcome {
  float:left;
  margin-left:15%;
}

.login{
  float:right;
  margin-right: 9%;
}
.headerr {
  background-color:red;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.left_bar {
  width: 20%;
}

.right_bar {
  width: 20%;
  float: right;
}

.footer {
  position:relative;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  margin-top: 60px;
  #background:#6cf;
  text-align: center;
  margin-left: 40%;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

.footer ul {
  float: left;
  list-style: none;
  float: left;
}

.footer ul li {
  float: left;
  margin-left: 10px;

}

.gravatar {
  float: left;
  display: block;
  width : 60mm;
  height : 70mm;

}
.profiles li {
  margin-left: 40px;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
 padding-top: 2px;
 background-image:url('flag_bg.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;

}

section {
  overflow: auto;
}
.block {
  display: block;
  height: 40px;
  margin-top: 20px;
}

.signin{
  border:2px solid;
  border-radius:25px;
  background-color: gainsboro ;
  width: 500px

}

.signup {
  border:2px solid;
  border-radius:25px;
  background-color: gainsboro ;
  width: 500px
 }

ol, li, ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
}

 textarea {
  resize: none;
  overflow: hidden;
  white-space: nowrap;
}

.post_form {textarea{
  height: 70px;
  width : 580px;
}

select{
  width : 590px;
}
}

.field {textarea{
  height: 50px;
  width : 485px;
}
}
.center {
  text-align: center;
}

.feed_content {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 2%;
  padding-right: 2%;
}
.content {
  padding-left: 2%;
  text-align: justify;
}
.profiles li {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
  padding-bottom: 30px;
}


.wrapped-text {
  white-space: pre-wrap;
}

.problems {
  list-style: none;
  margin: 10px 0 0 0;
  .content {
    word-wrap:break-word;
    width : 800px;
  }
  li {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
}
}

.comments {
  padding-left: 80px;
  padding-right: 100px;
  font-size: 11px;
  width: 500px;
  padding-bottom: 20px;

  .comment_section{

    -moz-border-radius: 15px;
    border-radius: 10px;
    border-style:solid;
    border-width:1px;
    .timestamp {
      padding-left: 40px;
      padding-top: 8px;
      display: block;
      color : #000000;
      height: 30px;
    }
    .del_link {
      float: right;
      padding-right: 10px;

    }
    .comment_content {
      display: block;
      padding-left: 40px;
      word-wrap:break-word;
      padding-right: 2px ;
    }
  }
  list-style: none;

  margin: 4px 0 0 0;
  li {
    padding: 3px 0;
    border-style: none
  }
}

.fbfeed {
  -moz-border-radius: 15px;
  border-radius: 2px;
  border-style:solid;
  border-width:1px;
  border-color: #808080;
  background-color: #ffffff;
  height: 635px;
  overflow: auto;
}

.navbar-inner [role="search"] {
  float: left;
  height: 33px;
  margin: 7px 15px 0 0;
  width: 221px;
}

.navbar-inner .search-input {
  border-radius: 21px;
  box-shadow: none;
  height: 21px;
  padding-top: 6px;
  width: 182px;

}

.header-color {
  background-image: linear-gradient(to bottom, rgba(38, 40, 49, 0.67), #f2f2f2);
}

.header-buttons {
  color: blue;
}


.required1:after
{
  content: "*";
  font-weight: bold;
  color: red;
}

.blink_me {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.simple_form label {

}

.simple_form div.input {
  margin-bottom: 10px;
  margin-left: 20px;
  .radio {
    display: block;

  }
}

.news {
  background-image: "images\body.jpg"
}

.profile_data {
  -moz-border-radius: 15px;
  border-radius: 1px;
  border-style:solid;
  border-width:2px;
  border-color: #808080;
  background-image: url('gray_bg_pic3.jpg');
  height: 1486px;
  overflow-y: auto;
}
.right_content_0 {

  -moz-border-radius: 15px;
  border-radius: 1px;
  border-style:solid;
  border-width:2px;
  border-color: #808080;
  background-image: url('gray_bg_pic3.jpg');
  margin-bottom: 10px;

}

.right_content_1 {

  -moz-border-radius: 15px;
  border-radius: 1px;
  border-style:solid;
  border-width:2px;
  border-color: #808080;
  background-image: url('gray_bg_pic3.jpg');
  margin-bottom: 10px;
  overflow-y: auto;
}

.right_content_2 {

  -moz-border-radius: 15px;
  border-radius: 1px;
  border-style:solid;
  border-width:2px;
  border-color: #808080;
  background-image: url('gray_bg_pic3.jpg');
  margin-bottom: 10px;
  overflow-y:auto;
}

.right_content_3 {

  -moz-border-radius: 15px;
  border-radius: 1px;
  border-style:solid;
  border-width:2px;
  border-color: #808080;
  background-image: url('gray_bg_pic3.jpg');
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 120% ;

}

.profile_subheading {
  text-align:justify;
  font-size: 180% ;
  padding-right: 5px;
  font-weight: bold;

}

.profile_subdata {
  text-align:justify;
  font-size: 120% ;
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
  line-height: 30px;
}

#tabs-1 {
  background-image: url('gray_bg_pic3.jpg');
  color: #ffffff;

}

#tabs-2 {
  background-image: url('gray_bg_pic3.jpg');
  color: #ffffff;

}

#tabs-3 {
  background-image: url('gray_bg_pic3.jpg');
  color: #ffffff;

}

.part1 {
  background-image: url('blue_bg8.PNG');

  height: 580px;
  display: block;
}
.logo_center {
  text-align: center;
}

#title {
  visibility: hidden;
  opacity: 0.0;
}

#brief {
  visibility: hidden;
  opacity: 0.0;
}

#how_1{
  visibility: hidden;

}

#how_2{
  visibility: hidden;

}
#how_3{
  visibility: hidden;

}
#how_4{
  visibility: hidden;

}

#how_5{
  visibility: hidden;

}

#how_6{
  visibility: hidden;

}